.question_summary
  .votes.rating
    =question.rating
  .status
    .counter
      =question.answers_count
    %div
      ответов
  .views{:class => (question.views_count && question.views_count > 0) ? :answered : :unanswered}
    .counter= question.views_count
    просмотров   
  .question_info
    %h3= link_to question.title, question
    .tags
      =render question.tags 
    .creation_info
      %span.created_at= time_ago question.created_at
      %a= question.user.name
.clear


